body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  text-align: center;
}

h1 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 15px;
  font-weight: 400;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.conteiner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 240px;
  margin: auto;
  border-radius: 10px;
}

img {
  width: 230px;
  margin-top: 3px;
  border-radius: 10px;
}
